<div class="card" style="width: 20rem;" id="profile-card">
    <img class="card-img-top" src="../../assets/img/avatar.jpg"  alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Ben</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Game1</li>
      <li class="list-group-item">Game2</li>
      <li class="list-group-item">Game3</li>
    </ul>
    <div class="card-block">
      <a href="#" class="card-link">Modifier mes informations</a>
    </div>
  </div>