<div class="container">
  <div class="row">
    <h1>Features</h1>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/featuresCard1.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
        <a href="#">
            <div class="card-footer">
              <small class="text-muted">En savoir +</small>
            </div>
          </a>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/featuresCard2.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <a href="#">
            <div class="card-footer">
              <small class="text-muted">En savoir +</small>
            </div>
          </a>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/featuresCard3.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even
            longer content than the first to show that equal height action.</p>
        </div>
        <a href="#">
          <div class="card-footer">
            <small class="text-muted">En savoir +</small>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/featuresCard4.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
        <a href="#">
            <div class="card-footer">
              <small class="text-muted">En savoir +</small>
            </div>
          </a>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/featuresCard5.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <a href="#">
            <div class="card-footer">
              <small class="text-muted">En savoir +</small>
            </div>
          </a>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/img/featuresCard6.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even
            longer content than the first to show that equal height action.</p>
        </div>
        <a href="#">
            <div class="card-footer">
              <small class="text-muted">En savoir +</small>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>